.facet-items {
  padding-left: 15px;
  display: none;
}

.facet-items_expanded {
  display: block;
}

.button {
  border: none;
  background: transparent;
}

.button_expanded {
  font-weight: 700;
}

.facet-button {
  display: flex;
}

.checkbox-icon {
  color: #1e8bbe;
}

.checkbox-inner {
  display: none;
}
